<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'>aaaaa</span>
                <span class='icon-bar'>bbbbb</span>
                <span class='icon-bar'>ccccc</span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>backendAppAngular</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/filtradoProductoCategoria"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Filtrar procducto por categoria
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/counter"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span>Filtrar producto por nombre
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/filtradoPersonaNombreCompleto"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Filtrado Persona por Nombre Completo
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/filtradoUsuarioTipo"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Filtrado Usuario por Tipo
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/mantenimiento-persona"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Mantenimiento de Personas
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/mantenimiento-producto"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Mantenimiento de Producto
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/mantenimiento-usuario"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Mantenimiento de Usuario
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
