<h1>{{titulo}}</h1>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="producto" (ngSubmit)="guardarDatos()">

      <div class="form-group">
        <label>Id Producto</label>
        <input type="text" class="form-control" formControlName="iidproducto" readonly />
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
      </div>

      <div class="form-group">
        <label>Precio</label>
        <input type="number" class="form-control" formControlName="precio" />
      </div>

      <div class="form-group">
        <label>Stock</label>
        <input type="number" class="form-control" formControlName="stock" />
      </div>

      <div class="form-group">
        <label>Categoria</label>
        <input type="number" class="form-control" formControlName="iidcatego" />
      </div>

      <div>
        <input [disabled]="!producto.valid" type="submit" value="Guardar" class="btn btn-primary" />
        <button [routerLink]="['/mantenimiento-producto']" class="btn btn-danger">Regresar</button>
      </div>

    </form>
  </div>
</div>

<div style="margin:1em" *ngIf="persona.valid==false">
  <div class="alert alert-danger">El formulario no es valido , verifique los datos</div>
</div>
